---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/general.css";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Banner from "../components/Banner.astro";
import { Image } from "astro:assets";
import digital_clean_up from "../assets/images/digital_clean_up.webp";
import internationalt_arbejde from "../assets/images/internationalt_arbejde.webp";
import klimaforandringer from "../assets/images/klimaforandringer.webp";
import merchandise_bg from "../assets/images/merchandise_bg.webp";
import mikroplast from "../assets/images/mikroplast.webp";
import politisk_arbejde from "../assets/images/politisk_arbejde.webp";
import skader_dyrelivet from "../assets/images/skader_dyrelivet.webp";
import skrald_strand from "../assets/images/skrald_strand.webp";
import sundhedsfare from "../assets/images/sundhedsfare.webp";
import ødelæggelse_af_levesteder from "../assets/images/ødelæggelse_af_levesteder.webp";
import engangsplast from "../assets/images/ikoner/emballage_rød-1.png";
import genbrug from "../assets/images/ikoner/genbrug_rød.png";
import mikroplast_ikon from "../assets/images/ikoner/mikroplast_rød.png";
import politik from "../assets/images/ikoner/politik_rød.png";
import skilpadde1 from "../assets/images/skilpadde1.webp";
import fisk1 from "../assets/images/fisk1.webp";
import fisk2 from "../assets/images/fisk2.webp";
import fisk3 from "../assets/images/fisk3.webp";
import fisk4 from "../assets/images/fisk4.webp";
import plastik1 from "../assets/images/plastik1.webp";
import plastik2 from "../assets/images/plastik2.webp";
import plastik3 from "../assets/images/plastik3.webp";
import plastik4 from "../assets/images/plastik4.webp";
import plastik6 from "../assets/images/plastik6.webp";
import mikroplast2 from "../assets/images/mikroplast2.webp";
import traktor from "../assets/images/ikoner/traktor_rød.png";
import elektronik from "../assets/images/ikoner/elektronik_rød.png";
import biler from "../assets/images/ikoner/bil_rød.png";
import kran from "../assets/images/ikoner/kran_rød.png";
import hus from "../assets/images/ikoner/hus_rød.png";
import emballage from "../assets/images/ikoner/emballage_rød.png";
---

<MainLayout title="Plastic Change">
  <!-- HERO UNIT -->
  <div class="flex items-center h-screen w-100 sticky top-0 baggrund">
    <section
      class="h-screen w-full flex flex-col items-center justify-center px-4 text-center"
    >
      <div class="flex flex-col items-center">
        <h1
          id="counter"
          class="text-[#024058] text-5xl md:text-6xl lg:text-7xl font-bold mb-6"
        >
          137.000.000,32
        </h1>
        <h2 class="text-[#024058] text-xl md:text-2xl -mt-2 mb-6">
          tons plastik
        </h2>
        <p
          class="text-[#024058] mt-4 mb-8 max-w-md md:max-w-lg lg:max-w-xl text-sm md:text-base lg:text-lg px-2"
        >
          findes i øjeblikket i verdenshavene. Hvert sekund tilføjes yderligere
          320 kg fra både landbaserede kilder og aktiviteter til havs. Dette
          udgør en af de største miljøkriser, vi står overfor.
        </p>
        <Button href="#donér">DONÉR FOR RENERE HAVE</Button>
      </div>
    </section>
  </div>

  <div class="flex flex-col items-center h-full w-100 sticky top-0 mellemgrund">
    <Image
      src={fisk2}
      alt=""
      class="w-1/3 xl:w-1/5 absolute left-[60%] top-[18%] xl:left-[40%] xl:top-[16%] transform scale-x-[-1] -rotate-45 opacity-70 sway"
    />
    <Image
      src={plastik1}
      alt=""
      class="w-1/3 xl:w-1/5 absolute left-[40%] top-[23%] xl:left-[65%] xl:top-[24%] transform scale-x-[-1] -rotate-45 opacity-70 sway"
    />
    <Image
      src={skilpadde1}
      alt=""
      class="w-1/2 xl:w-1/4 absolute left-[50%] top-[30%] xl:left-[10%] xl:top-[35%] transform scale-x-[-1] opacity-80 sway"
    />
    <Image
      src={plastik6}
      alt=""
      class="w-1/5 xl:w-1/6 absolute left-[60%] top-[35%] xl:left-[60%] xl:top-[52%] transform scale-x-[-1] -rotate-12 opacity-50 sway"
    />
    <Image
      src={plastik3}
      alt=""
      class="w-1/5 xl:w-1/6 absolute left-[30%] top-[36%] xl:left-[80%] xl:top-[47%] transform scale-x-[-1] -rotate-12 opacity-50 sway"
    />
    <Image
      src={plastik4}
      alt=""
      class="w-1/4 xl:w-1/6 absolute left-[50%] top-[80.5%] md:left-[50%] md:top-[84%] xl:left-[50%] xl:top-[81%] transform scale-x-[-1] -rotate-12 opacity-70 sway"
    />
    <Image
      src={plastik2}
      alt=""
      class="w-1/5 xl:w-1/6 absolute left-[70%] top-[78%] md:left-[10%] md:top-[90.5%] lg:left-[16%] lg:top-[91.5%] xl:left-[6%] xl:top-[86%] transform scale-x-[-1] -rotate-12 opacity-70 sway"
    />

    <!-- PLASTIKFORURENING? -->
    <section class="h-fit max-w-[97vw] mb-20 mt-24 md:mt-40 xl:mt-56">
      <div class="bg-[#024058] bg-opacity-60 p-8 md:p-12 lg:p-20 rounded-lg">
        <div class="xl:grid grid-cols-2">
          <div class="flex flex-col gap-6">
            <h2 class="leading-tight">Hvad er plastikforurening?</h2>
            <div class="flex flex-col gap-5">
              <p>
                Siden 1950’erne er der produceret over 9 milliarder ton plastik,
                hvoraf størstedelen er brugt til engangsemballager, der
                forurener i hele deres livscyklus.
              </p>
              <p>
                Plastikforurening opstår, når plastmaterialer akkumuleres i
                miljøet og skader økosystemer og dyreliv, da plast sjældent
                nedbrydes og ofte ender i havet eller på lossepladser. Uden
                handling forventes plastikproduktionen at fordobles, og
                forureningen at firedobles de næste 20 år. For at beskytte vores
                miljø er det derfor afgørende at reducere brugen af
                engangsplastik.
              </p>
            </div>
          </div>

          <div class="flex flex-col gap-6 items-center">
            <div class="flex flex-row gap-0 md:gap-5 justify-center">
              <!-- Søjle 1 -->
              <div class="flex flex-row items-end">
                <p class="rotated_text">Landbrug</p>
                <div class="flex flex-col gap-1 items-center">
                  <span
                    class="bg-[#C4DDF2] rounded-full w-10 h-10 md:w-12 md:h-12 mb-1 flex items-center justify-center p-2"
                  >
                    <Image src={traktor} alt="kop" />
                  </span>
                  <p class="!font-medium">3.3%</p>
                  <span
                    class="bg-[#C4DDF2] w-8 md:w-12 h-12 rounded-md søjle slideup"
                  ></span>
                </div>
              </div>

              <!-- Søjle 2 -->
              <div class="flex flex-row items-end">
                <p class="rotated_text">Elektronik</p>
                <div class="flex flex-col gap-1 items-center">
                  <span
                    class="bg-[#C4DDF2] rounded-full w-10 h-10 md:w-12 md:h-12 mb-1 flex items-center justify-center p-2"
                  >
                    <Image src={elektronik} alt="kop" />
                  </span>
                  <p class="!font-medium">5.8%</p>
                  <span class="bg-[#C4DDF2] w-8 md:w-12 h-20 rounded-md søjle"
                  ></span>
                </div>
              </div>

              <!-- Søjle 3 -->
              <div class="flex flex-row items-end">
                <p class="rotated_text">Biler</p>
                <div class="flex flex-col gap-1 items-center">
                  <span
                    class="bg-[#C4DDF2] rounded-full w-10 h-10 md:w-12 md:h-12 mb-1 flex items-center justify-center p-2"
                  >
                    <Image src={biler} alt="kop" />
                  </span>
                  <p class="!font-medium">8.9%</p>
                  <span class="bg-[#C4DDF2] w-8 md:w-12 h-32 rounded-md søjle"
                  ></span>
                </div>
              </div>

              <!-- Søjle 4 -->
              <div class="flex flex-row items-end">
                <p class="rotated_text">Bygningskonstruktioner</p>
                <div class="flex flex-col gap-1 items-center">
                  <span
                    class="bg-[#C4DDF2] rounded-full w-10 h-10 md:w-12 md:h-12 mb-1 flex items-center justify-center p-2"
                  >
                    <Image src={kran} alt="kop" />
                  </span>
                  <p class="!font-medium">19.7%</p>
                  <span class="bg-[#C4DDF2] w-8 md:w-12 h-44 rounded-md søjle"
                  ></span>
                </div>
              </div>

              <!-- Søjle 5 -->
              <div class="flex flex-row items-end">
                <p class="rotated_text">Hus</p>
                <div class="flex flex-col gap-1 items-center">
                  <span
                    class="bg-[#C4DDF2] rounded-full w-10 h-10 md:w-12 md:h-12 mb-1 flex items-center justify-center p-2"
                  >
                    <Image src={hus} alt="kop" />
                  </span>
                  <p class="!font-medium">22.4%</p>
                  <span class="bg-[#C4DDF2] w-8 md:w-12 h-56 rounded-md søjle"
                  ></span>
                </div>
              </div>

              <!-- Søjle 6 -->
              <div class="flex flex-row items-end">
                <p class="rotated_text">Engangsemballage</p>
                <div class="flex flex-col gap-1 items-center">
                  <span
                    class="bg-[#C4DDF2] rounded-full w-10 h-10 md:w-12 md:h-12 mb-1 flex items-center justify-center p-3"
                  >
                    <Image src={emballage} alt="kop" />
                  </span>
                  <p class="!font-medium">39.9%</p>
                  <span class="bg-[#C4DDF2] w-8 md:w-12 h-64 rounded-md søjle"
                  ></span>
                </div>
              </div>
            </div>

            <h3>Sådan fordeler plastikforurening sig</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- PROBLEMET -->
    <section id="problemet" class="h-fit w-full">
      <h2 class="mx-10 mb-5">Plastikforurening er med til at</h2>
      <div class="overflow-clip">
        <section
          id="horisontalscrollsection"
          class="h-[300vh] md:h-[400vh] xl:h-[500vh] mx-10"
        >
          <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[5vh]">
            <li
              class="pl-0 flex w-[90vw] items-start justify-start flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
            >
              <figure class="flex flex-col xl:flex-row max-w-[800px]">
                <Image
                  src={skader_dyrelivet}
                  class="h-[70vh] xl:h-[90vh] max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-lg object-cover z-50"
                  alt="foto"
                />
                <div class="pt-4 md:pt-8 xl:pl-8 w-[50vw] lg:w-[40vw]">
                  <h3 class="mb-2 md:mb-3 md:leading-9">Skade dyrelivet</h3>
                  <figcaption class="">
                    Dyr, fra fugle til havskildpadder, kan forveksle plastik med
                    føde og få fat i det. Dette kan føre til kvælning, indre
                    skader og død.
                  </figcaption>
                </div>
              </figure>
            </li>
            <li
              class="pl-0 flex w-[90vw] items-start justify-start flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
            >
              <figure class="flex flex-col xl:flex-row max-w-[800px]">
                <Image
                  src={mikroplast}
                  class="h-[70vh] xl:h-[90vh] max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-lg object-cover z-50"
                  alt="foto"
                />
                <div class="pt-4 md:pt-8 xl:pl-8 w-[50vw] lg:w-[40vw]">
                  <h3 class="mb-2 md:mb-3 md:leading-9">
                    Øge mængden af mikroplast
                  </h3>
                  <figcaption class="">
                    Når plastik fragmenteres, dannes mikroplast, som forurener
                    havvand og fødekæder. Disse små partikler kan indtages af
                    marine organismer og påvirke økosystemets sundhed.
                  </figcaption>
                </div>
              </figure>
            </li>
            <li
              class="pl-0 flex w-[90vw] items-start justify-start flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
            >
              <figure class="flex flex-col xl:flex-row max-w-[800px]">
                <Image
                  src={klimaforandringer}
                  class="h-[70vh] xl:h-[90vh] max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-lg object-cover z-50"
                  alt="foto"
                />
                <div class="pt-4 md:pt-8 xl:pl-8 w-[50vw] lg:w-[40vw]">
                  <h3 class="mb-2 md:mb-3 md:leading-9">
                    Forværre klimaforandringer
                  </h3>
                  <figcaption class="">
                    Plastproduktion og forbrænding frigiver store mængder
                    drivhusgasser, hvilket bidrager til klimaforandringer.
                  </figcaption>
                </div>
              </figure>
            </li>
            <li
              class="pl-0 flex w-[90vw] items-start justify-start flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
            >
              <figure class="flex flex-col xl:flex-row max-w-[800px]">
                <Image
                  src={ødelæggelse_af_levesteder}
                  class="h-[70vh] xl:h-[90vh] max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-lg object-cover z-50"
                  alt="foto"
                />
                <div class="pt-4 md:pt-8 xl:pl-8 w-[50vw] lg:w-[40vw]">
                  <h3 class="mb-2 md:mb-3 md:leading-9">
                    Ødelægge levesteder for dyrene
                  </h3>
                  <figcaption class="">
                    Plastikaffald kan ødelægge levesteder, især i havet, hvor
                    det kan skabe giftige zoner og påvirke biodiversiteten.
                  </figcaption>
                </div>
              </figure>
            </li>
            <li
              class="pl-0 flex w-[90vw] items-start justify-start flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
            >
              <figure class="flex flex-col xl:flex-row max-w-[800px]">
                <Image
                  src={sundhedsfare}
                  class="h-[70vh] xl:h-[90vh] max-w-xs md:max-w-2xl lg:max-w-3xl xl:max-w-lg object-cover z-50"
                  alt="foto"
                />
                <div class="pt-4 md:pt-8 xl:pl-8 w-[50vw] lg:w-[40vw]">
                  <h3 class="mb-2 md:mb-3 md:leading-9">Skabe sundhedsfare</h3>
                  <figcaption class="">
                    Plastikforurening kan føre til sundhedsrisici for mennesker,
                    da kemikalier fra plast kan sive ind i fødevarer og
                    drikkevand, hvilket potentielt påvirker hormonbalancen og
                    generelle helbred.
                  </figcaption>
                </div>
              </figure>
            </li>
          </ul>
        </section>
      </div>
    </section>

    <!-- GØR EN FORSKEL -->
    <section id="gør_en_forskel" class="h-fit w-full mb-20 lg:mb-28 xl:mb-36">
      <Banner />
      <div class="flex justify-center items-center mt-16 mb-4">
        <h2 class="mx-3">Hvordan kan du gøre en forskel?</h2>
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-8 px-8 pt-3 xl:pt-16"
      >
        <!-- Engangsplast -->
        <div class="flex flex-col items-center p-6 text-center">
          <Image src={engangsplast} alt="kop" />
          <h3
            class="xl:mb-4 mt-2 xl:mt-10 h-16 flex items-center justify-center"
          >
            Undgå engangsplast
          </h3>
          <p class="xl:mt-4">
            Skift plastposer ud med stofposer og brug genanvendelige
            vandflasker, kaffekopper og madpakker. Engangsplast står for en stor
            del af plastikforureningen, da det kun bruges kortvarigt, men har en
            langvarig miljøpåvirkning.
          </p>
        </div>

        <!-- Sorter genbrug -->
        <div class="flex flex-col items-center p-6 text-center">
          <Image src={genbrug} alt="kop" />
          <h3
            class="xl:mb-4 mt-2 xl:mt-10 h-16 flex items-center justify-center"
          >
            Sortér genbrug
          </h3>
          <p class="xl:mt-4">
            Ved at sortere dit affald korrekt sikrer du, at plast kan
            genanvendes, og du mindsker mængden af plast, der ender i naturen
            eller på lossepladser. Støt også systemer, der fremmer genbrug.
          </p>
        </div>

        <!-- Begræns mikroplastik -->
        <div class="flex flex-col items-center p-6 text-center">
          <Image src={mikroplast_ikon} alt="kop" />
          <h3
            class="xl:mb-4 mt-2 xl:mt-10 h-16 flex items-center justify-center"
          >
            Begræns mikroplastik
          </h3>
          <p class="xl:mt-4">
            Vælg kosmetik- og plejeprodukter uden mikroplast, da disse små
            plastpartikler let ender i vores vandsystemer. Brug vaskeposer, som
            kan reducere spild af mikroplast fra syntetisk tøj, der frigøres
            under vask.
          </p>
        </div>

        <!-- Støt politisk handling -->
        <div class="flex flex-col items-center p-6 text-center">
          <Image src={politik} alt="kop" />

          <h3
            class="xl:mb-4 mt-2 xl:mt-10 h-16 flex items-center justify-center"
          >
            Støt politisk handling
          </h3>

          <p class="xl:mt-4">
            Støt lokale og globale initiativer, der arbejder for at reducere
            plastikforbrug og affald. Deltag i kampagner eller stem for
            politikere og love, der adresserer plastikforurening, da lovgivning
            spiller en vigtig rolle i at skabe systemiske ændringer.
          </p>
        </div>
      </div>
    </section>

    <!-- VORES INDSATS -->
    <section id="vores_indsats" class="h-fit w-100 mb-20 lg:mb-28 xl:mb-36">
      <h2 class="mx-3 mb-5">Vores indsats</h2>
      <div class="md:grid grid-cols-2 xl:grid-cols-4">
        <div class="relative group">
          <Image
            class="aspect-[4/5] xl:aspect-[4/7] object-cover object-[-340px] opacity-20 xl:opacity-100 group-hover:opacity-20 transition-opacity duration-300"
            src={politisk_arbejde}
            alt=""
          />
          <div
            class="absolute bottom-0 p-8 xl:p-4 xl:opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <h3>Politisk arbejde</h3>
            <div class="flex flex-col gap-4">
              <p>
                En stor prioritet i Plastic Changes arbejde er at påvirke
                beslutningstagere i Danmark, EU og internationalt i retning af
                en mere ambitiøs og effektiv lovgivning mod plastikforurening.
              </p>
              <p>
                Initiativer løftet af frivillige, miljøorganisationer og
                erhvervsliv kan bære os langt, men vi når ikke i mål, uden at de
                politiske rammevilkår og reguleringen er på plads.
              </p>
            </div>
          </div>
        </div>
        <div class="relative group">
          <Image
            class="aspect-[4/5] xl:aspect-[4/7] object-cover object-[-340px] opacity-20 xl:opacity-100 group-hover:opacity-20 transition-opacity duration-300"
            src={internationalt_arbejde}
            alt=""
          />
          <div
            class="absolute bottom-0 p-8 xl:p-4 xl:opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <h3>World Cleanup Day</h3>
            <div class="flex flex-col gap-4">
              <p>
                Sidste år deltog flere end 15 millioner mennesker fra 190 lande,
                hvilket gjorde dagen til verdens største civile begivenhed. Det
                bliver simpelthen ikke større.
              </p>
              <p>
                Tilsammen blev der samlet minimum 60.000 tons affald. I Danmark
                bliver det 6. år, at verdens største civile aktion finder sted,
                og selvfølgelig skal det finde sted tværs over hele landet
              </p>
            </div>
          </div>
        </div>
        <div class="relative group">
          <Image
            class="aspect-[4/5] xl:aspect-[4/7] object-cover object-[-340px] opacity-20 xl:opacity-100 group-hover:opacity-20 transition-opacity duration-300"
            src={digital_clean_up}
            alt=""
          />
          <div
            class="absolute bottom-0 p-8 xl:p-4 xl:opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <h3>Digital Cleanup Day</h3>
            <div class="flex flex-col gap-4">
              <p>
                Digital Cleanup Day er en dag dedikeret til at rydde op i vores
                digitale liv, ligesom World Cleanup Day gør for det fysiske
                miljø.
              </p>
              <p>
                Arrangeret af Let's Do It World, har dagen til formål at øge
                bevidstheden om digital forurening og opfordre til oprydning
                online.
              </p>
            </div>
          </div>
        </div>
        <div class="relative group">
          <Image
            class="aspect-[4/5] xl:aspect-[4/7] object-cover object-[-340px] opacity-20 xl:opacity-100 group-hover:opacity-20 transition-opacity duration-300"
            src={skrald_strand}
            alt=""
          />
          <div
            class="absolute bottom-0 p-8 xl:p-4 xl:opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <h3>Internationalt arbejde</h3>
            <div class="flex flex-col gap-4">
              <p>
                I Plastic Change arbejder vi ikke kun med plastikforurening
                herhjemme i Danmark, men vi er også med til at rykke
                plastiklandskabet på et internationalt niveau. Plastikforurening
                holder sig ikke indenfor landegrænser, og derfor skal
                løsningerne findes på tværs af lande.
              </p>
              <p>
                Vi tror på, at problemerne med plastikspild i verden ikke kan
                løses ved kun at arbejde på nationalt niveau. Vi er nødt til at
                arbejde på tværs af alle verdens lande og sammen influere de
                højeste politiske instanser om en grønnere omstilling med mindre
                engangsplastik og mere genbrug.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- DONÉR -->
    <section
      id="donér"
      class="h-fit w-100 mx-10 mb-20 lg:mb-28 xl:mb-36 xl:grid grid-cols-[1fr_1fr] gap-10 flex flex-col"
    >
      <div class="flex flex-col gap-4">
        <h2>Giv dit bidrag</h2>
        <div class="flex flex-col gap-5">
          <p>
            Kun med din støtte kan vi kæmpe for, at politikere og virksomheder
            tager ansvar for at standse overproduktion og forurening fra plastik
            nu og at vi kan uddanne fremtidens forbrugere. Du bliver en del af
            en global Plastic Changer bevægelse, der siger:
          </p>
          <p>STOP PLASTIKFORURENING NU!</p>
        </div>
      </div>
      <div
        class="flex flex-col md:flex-row gap-6"
        x-data="{ showmedlem: false }"
      >
        <!-- Støt her -->
        <div class="bg-[#c4ddf2] w-fit h-fit p-10 pt-6 md:p-14 md:pt-8">
          <h3 class="!text-[#024058] mb-6">Støt her</h3>
          <form class="flex flex-col gap-7">
            <div class="flex items-center gap-6">
              <div class="flex items-center gap-2">
                <input
                  type="radio"
                  name="betaling"
                  id="månedligt"
                  class="w-5 h-5 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label for="månedligt">Månedligt</label>
              </div>
              <div class="flex items-center gap-2">
                <input
                  type="radio"
                  name="betaling"
                  id="en_gang"
                  class="w-5 h-5 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label for="en_gang">Én gang</label>
              </div>
            </div>

            <div class="flex items-center gap-6">
              <div class="flex items-center gap-2 relative">
                <input
                  type="radio"
                  name="kroner"
                  id="50"
                  class="w-16 h-16 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label
                  for="50"
                  class="absolute inset-0 flex items-center justify-center"
                  >50</label
                >
              </div>
              <div class="flex items-center gap-2 relative">
                <input
                  type="radio"
                  name="kroner"
                  id="75"
                  class="w-16 h-16 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label
                  for="75"
                  class="absolute inset-0 flex items-center justify-center"
                  >75</label
                >
              </div>
              <div class="flex items-center gap-2 relative">
                <input
                  type="radio"
                  name="kroner"
                  id="125"
                  class="w-16 h-16 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label
                  for="125"
                  class="absolute inset-0 flex items-center justify-center"
                  >125</label
                >
              </div>
            </div>

            <div class="flex flex-col gap-1">
              <label for="beløb"><strong>Andet beløb:</strong></label>
              <input
                type="text"
                name="beløb"
                id="beløb"
                class="rounded bg-[#f5f6f8] border-0 max-h-9"
              />
            </div>

            <div class="flex items-center gap-2">
              <input
                type="checkbox"
                name="checkbox"
                id="checkbox"
                class="rounded-full w-5 h-5 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                x-on:click="showmedlem = ! showmedlem"
              />
              <label for="checkbox">Bliv medlem og støt årligt</label>
            </div>

            <div class="mt-6">
              <Button>Donér</Button>
            </div>
          </form>
        </div>

        <!-- Bliv medlem -->
        <div
          class="medlem bg-[#c4ddf2] w-fit h-fit p-10 pt-6 md:p-14 md:pt-8 transition-opacity duration-300"
          x-transition
          x-bind:class="showmedlem ? 'opacity-100 pointer-events-auto' : 'opacity-30 pointer-events-none'"
        >
          <h3 class="!text-[#024058] mb-6">Bliv medlem</h3>
          <form class="flex flex-col gap-7">
            <div class="flex flex-col gap-3">
              <label for="mobilepay"><strong>Betalingsform*</strong></label>
              <div class="flex items-center gap-2">
                <input
                  type="radio"
                  name="betaling"
                  id="mobilepay"
                  class="w-5 h-5 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label for="mobilepay">Mobilepay</label>
              </div>
              <div class="flex items-center gap-2">
                <input
                  type="radio"
                  name="betaling"
                  id="betalingskort"
                  class="w-5 h-5 text-[#024058] bg-[#f5f6f8] border-0 focus:ring-0"
                />
                <label for="betalingskort">Betalingskort</label>
              </div>
            </div>

            <p class="!text-[#024058]">350 kr. / årligt</p>

            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-1">
                <label for="fornavn"><strong>Fornavn*</strong></label>
                <input
                  type="text"
                  name="fornavn"
                  id="fornavn"
                  class="rounded w-60 bg-[#f5f6f8] border-0 max-h-9"
                />
              </div>

              <div class="flex flex-col gap-1">
                <label for="efternavn"><strong>Efternavn*</strong></label>
                <input
                  type="text"
                  name="efternavn"
                  id="efternavn"
                  class="rounded w-60 bg-[#f5f6f8] border-0 max-h-9"
                />
              </div>

              <div class="flex flex-col gap-1">
                <label for="email"><strong>Email*</strong></label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="rounded w-60 bg-[#f5f6f8] border-0 max-h-9"
                />
              </div>

              <div class="flex flex-col gap-1">
                <label for="telefon"><strong>Telefon*</strong></label>
                <input
                  type="text"
                  name="telefon"
                  id="telefon"
                  class="rounded w-60 bg-[#f5f6f8] border-0 max-h-9"
                />
              </div>
            </div>

            <div class="mt-6">
              <Button>Betal</Button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- MERCHANDISE -->
    <section
      id="merchandise"
      class="flex items-center justify-center h-full w-full py-48 merchandise"
    >
      <div class="flex flex-col text-center px-4 items-center justify-center">
        <h2 class="text-2xl font-bold mb-5 md:mb-10 !text-[#024058]">
          Støt havet med Hjemhavn
        </h2>
        <p class="mb-6 !text-[#024058]">
          Når du køber merchandise bidrager du til beskyttelsen af havmiljøet og
          mindsker plastikaffald. Hver vare støtter arbejdet mod en fremtid uden
          plastforurening. Gør en forskel for verdenshavene!
        </p>
        <Button
          href="https://www.hjemhavn.dk/collections/plastic-change-merchandise"
          target="_blank">Shop og støt</Button
        >
      </div>
    </section>
  </div>
</MainLayout>

<script>
  import { scroll, animate, inView } from "motion";

  /* Nedtælling på hero_unit */
  // Startværdien
  let currentCount = 137000000.32;

  // Antal kilo, der skal tilføjes per sekund
  const increment = 320;

  // Funktion til at opdatere tælleren
  function updateCounter() {
    currentCount += increment;

    // Formatér tallet med komma som tusind-separator og to decimaler
    document.getElementById("counter").innerText = currentCount.toLocaleString(
      "da-DK",
      {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      }
    );
  }

  // Opdater tælleren hvert sekund
  setInterval(updateCounter, 1000);

  // InView animationer

  // Søjle animation
  const slideup = document.querySelector(".slideup");

  inView(slideup, () => {
    animate(
      ".søjle",
      {
        clipPath: ["inset(100% 0 0 0)", "inset(0% 0 0 0)"],
      },
      { duration: 3 }
    );
  });

  /* Horisontal scroll sektion */
  scroll(
    animate("#horisontalliste", {
      transform: ["none", "translateX(-400vw)"],
    }),
    { target: document.querySelector("#horisontalscrollsection") }
  );
</script>
